html, body {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    max-height: 700px;
    /*position:fixed;*/
}

body {
    margin: 0 auto;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding-left: 3px;
    padding-right:3px;
    position: fixed;
    height: 100%;
}

h2 {
    text-align: center;
    margin-top: 5px;
}

.ip {
    display: block;
    margin: 10px auto;
    background-color: linen;
    width: 100%;
    height: 25px;
}

#ip1, #ip2, #ip3 {
    display: inline-block;
    width: 70px;
    height: 25px;
    padding: 2px 5px 2px 5px;
    font-weight: bold;
    letter-spacing: -1px;
    margin: 0;
}

.sliderContainer {
    box-sizing: border-box;
    width: 150px;
    height: 25px;
    margin: 0 10px 0 3px;
    display: inline-block;
    float: right;
}

#slider1, #slider2, #slider3 {
    height: 15px;
    -webkit-appearance: none;
    width: 100%;
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border: 2px outset #aaa;
    border-radius: 5px;
    margin: 3px 0 3px 0;
}

#slider1:hover, #slider2:hover, #slider3:hover {
    opacity: 1;
}

#slider1 {
    background: linear-gradient(90deg, #000, #f00);
}

#slider2 {
    background: linear-gradient(90deg, #000, #0f0);
}

#slider3 {
    background: linear-gradient(90deg, #000, #00f);
}

#ipr, #ipg, #ipb {
    display: inline-block;
    width: 50px;
    height: 15px;
    padding: 0;
    float: right;
    margin: 3px 3px 3px 3px;
    outline: none;
    border: 2px outset #aaa;
    border-radius: 5px;
}

#ipr {
    background-color: #f00;
    color: #fff;
}

#ipg {
    background-color: #0f0;
    color: #000;
}

#ipb {
    background-color: #00f;
    color: #fff;
}

.btn {
    display: inline-block;
    margin: 20px auto;
    border: 4px outset gray;
    animation: bttn 1.3s infinite alternate;
    outline: none;
    border-radius: 10px;
    padding: 3px 6px;
    cursor: pointer;
}

.btn:active {
    outline: none;
}

#submit:hover, #rand:hover, #switch:hover {
    animation: btnshake 0.05s 3 alternate;
    outline: none;
}

#submit {
    float: right;
    margin-right: 20px;
    animation-direction: alternate-reverse;
}

#rand {
    float: right;
    margin-right: 20px;
}

#switch {
    margin-left: 20px;
}
#hex {
    background-color: white;
    border: 1px solid #000;
    text-align: none;
}

@keyframes bttn {
    from {
        border-color: #efefef;
    }
    to {
        border-color: #989898;
    }
}

.post {
    width: 0%;
    height: 20px;
    color: white;
    background-color: #000;
    /*padding: 20px 5px;*/
    overflow: hidden;
    animation: none;
}

@keyframes posts {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

#lowerBlock {
    margin: auto 30px;
}
#notesRGB{
  display:block;
}
#notesHSL{
  display:none;
}
#dig {
    border-radius: 10px;
    background-color: #000;
    padding: 3px 6px;
    border: 1px solid black;
    color: #fff;
    cursor: pointer;
    animation: letter 2s infinite linear alternate;
}

#img {
    display: block;
    transform: scale(0);
    transform-origin: 50% 50%;
    top: 40px;
    left: 30px;
    width: 300px;
    height: 370px;
    z-index: 1;
    position: absolute;
    margin: 0 auto;
    background-color: #efefef;
    transition: transform 0.6s;
    box-shadow: 3px 3px 5px black, 3px 5px 10px black;
}

#img>img {
    position: absolute;
    width: 300px;
    /*height:330px;*/
    height: auto;
    padding: 0;
    display: block;
    margin: 0 auto;
}

#close, #next {
    display: inline-block;
    width: 300px;
    padding-top: 10px;
    text-align: center;
    height: 30px;
    color: #3a2a1a;
    background-color: #efafaf;
    border: 1px solid black;
    margin: 0;
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0%;
    position: absolute;
    z-index: 1;
    top: 0px;
    right: 0px;
    background: linear-gradient(270deg, deepskyblue, black);
    overflow-x: hidden;
    transition: 0.5s;
    margin: 0;
    opacity: 0.9;
}

#colorNames {
    background: linear-gradient(90deg, deepskyblue, black);
    left: 0px;
    right: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    opacity: 1;
}

#colorNames ul {
    margin: 60px 0 0 0;
    padding: 0 5px;
}

.sidenav li {
    color: yellow;
    border-bottom: 1px solid yellow;
}

#colorNames li {
    background-color: #afd8dc;
    list-style-type: none;
    border: none;
    height: 28px;
    color: #152f36;
    margin: 4px 0;
    padding: 2px 0 2px 5px;
    font-size: 18px;
}

.sidenav a {
    padding: 10px 0 10px 10px;
    margin: 0;
    text-decoration: none;
    font-size: 18px;
    color: #efefef;
    display: block;
}

#colorNames #cbox {
    border: 1px solid #000;
    border-radius: 10px 0 10px 0;
    display: inline-block;
    float: right;
    background-color: #afd8dc;
    padding: 3px 5px 3px 5px;
    margin: 1px 0;
    color: #152f36;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 36px;
    color: #2a2a2a;
}

#colorNames .closebtn {
    color: yellow;
}

#refs, #cnames {
    font-size: 30px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

#cnames {
    right: auto;
    left: 10px;
}

@keyframes letter {
    0% {
        text-shadow: -2px  0 0 white;
    }
    25% {
        text-shadow: -1px 0 0 white;
    }
    50% {
        text-shadow: 0px 0 0 white;
    }
    75% {
        text-shadow: 1px  0 0 white;
    }
    100% {
        text-shadow: 2px  0 0 white;
    }
}

@keyframes btnshake {
    from {
        transform: rotate(3deg);
    }
    to {
        transform: rotate(-3deg);
    }
}

#ipr:focus, #ipg:focus, #ipb:focus {
    font-size: 1.1em;
    transition: font-size 0.2s;
}
