html{
  margin:0;
}
body{
  margin-top: 70px;
  text-align: justify;
}

h1,h2,h3,h4,h5,h6{
  font-family: Poppins;
}

p{
  font-family: Roboto;
}

.navbar-default{
}

.navbar-brand{

}

#showcase img, #info1 img{
  border: 10px solid rgba(255,255,200, 0.5);
  border-radius: 50%;
  box-shadow: 2px 2px 5px 0 #000, 4px 4px 10px 0 #000, 6px 6px 20px 0 #000;
  display: block;
  /*height:auto;*/
  margin: 0 auto;
  object-fit: cover;
  width:90%;
}

#showcase h1{
  text-align: center;
}

section.testimonial{
  background: #f1f1f1;
  padding: 50px 0 30px 0;
  text-align: center;
  margin-top: 40px;
}

section.testimonial p{
  color: #000;
  font-family: 'Josefin sans';
  font-size: 24px;
}

section.testimonial p.customer{
  color:#666;
  font-size: 20px;
}

section {
  margin-top: 40px;
}

section > div > div {
	display: flex;
	align-items: center;
}

#contact{
  background: url("https://i.imgur.com/NHe8ziN.jpg");
  border-bottom: 7px solid #333;
  border-top: 7px solid #333;
  color: #fff;
  padding: 40px;
}

footer{
  padding: 30px;
}
