@keyframes headerAnimation{
    0% {text-shadow: 5px 5px 10px #86b300;}
    20%   {text-shadow: -100px 17px 0px #86b300;}
    80% {text-shadow: 100px 17px 0px #86b300;}
    100% {text-shadow: 5px 5px 10px #86b300;}
}
/*Global settings starts here*/
*{
    box-sizing:border-box;
}
a{
    color:inherit;
    text-decoration:none;
}
figure{
    margin:1em 0;
    text-align:center;
}
figure > figcaption{
    background-color:linen;
    border-top:2px solid #bbb;
    border-bottom:2px solid #bbb;
}
/*Global settings ends here*/
html{
   background:url("myTexture.png") repeat fixed;
}
body{
   display:grid;
   grid-template-columns:1fr;
   grid-template-rows:100px 50px 1fr 100px;
   grid-gap:10px 0px;
   grid-template-areas:
    "header"
     "nav"
     "main"
     "footer";
 }
header,footer{
  text-align:center;
  text-shadow:5px 5px 10px #86b300;
  color:#4a4a4a;
  font-family: 'Russo One', sans-serif;
  border:10px outset grey;
  border-radius:90px 0 90px 0;
  background: linear-gradient(grey, white,grey);
  animation-play-state:paused;
}
header{
  grid-area:header;
}
header:hover, footer:hover{
  background: linear-gradient(#4a4a4a,white,#4a4a4a);
  animation:headerAnimation 3s 0.3s 1 alternate;
}
nav{
    grid-area:nav;
    font-family:'courgette',cursive;
}
nav ul{
  display:flex;
  flex-flow:row no-wrap;

  border-bottom: 5px solid grey;
  border-top: 5px solid grey;
  padding: 0;
  list-style: none;
  background-color: #e8e8e9;
}
nav li {
  background-color: #cacaca;
  margin: 8px;
  padding: 4px;
  border-radius:20px;
  text-decoration:none;
  flex:0 1 auto;
  transition: 0.5s;/*background-color 0.6s, color ease-in-out 0.8s, transform 0.6s;
  transition-timing-function: cubic-bezier(10,5,2,1);*/
 }
 nav li:hover{
   background-color:#4a4a4a;
   color:#cacaca;
 }
 nav li:nth-child(odd):hover{
     transform:rotate(7deg);
 }

 nav li:nth-child(even):hover{
     transform:rotate(-7deg);
 }
 nav li:nth-child(1){
   margin-right:auto;
 }
 nav .navhandle{
   display:none;
 }
 main{
     font-family: 'Acme', sans-serif;
     margin: 1em auto 0 auto;
     max-width:1000px;
     grid-area:main;
     display:grid;
     grid-template-columns:130px 1fr 1fr 1fr;
     grid-template-rows:1fr 1fr 1fr 1fr 1fr;
     grid-gap: 0 10px;
     grid-template-areas:
     "aside section section section"
     "aside section section section"
     "aside section section section"
     "aside section section section"
     "aside section section section";
 }
 aside{
   grid-area:aside;
   background-color:#e8e8e9;
   justify-self:stretch;
 }
 aside img:first-child{
     border:5px solid #aaa;
     transition:0.3s;
 }
 aside img:first-child:hover{
     filter:blur(1px);
     opacity:0.7;
     transform:scaleX(-1);
 }
 aside ul{
     list-style-type:none;
     margin:auto;
 }
 aside ul li{
     padding:5px 3px;
     background:#ececec;
     border-bottom:2px solid #bbb;
 }
 aside ul li:hover{
     background:#d8d8d8;
 }
 section{
     grid-area:section;
     background:#e8e8e9;
 }
 section a{
     color:brown;
 }
 footer{
     grid-area:footer;
 }
 footer span{
   color:brown;
   font-family:'courgette', cursive;
   font-size:0.5em;
   text-shadow:none;
   text-decoration:none;
 }
 @media screen and (max-width:450px) {
   body{

   }
   nav ul{
     display:none;
   }
   nav li:nth-child(odd):hover{
       transform:rotate(2deg);
   }

   nav li:nth-child(even):hover{
       transform:rotate(-2deg);
   }
   nav li:nth-child(1){
     margin:8px;
   }
   header h1, footer h1{
     font-size: 24px;
     padding:10px 0;
   }
   nav ul{
     flex-flow: column nowrap;
   }
   nav .navhandle{
     width:100%;
     height:50px;
     background-color: #a6a6a6;
     display:block;
     padding: 10px 10px;
     border: 3px solid #565656;
   }
   #menu{
     float:right;
     font-weight: bold;
   }
 }
