* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

:focus{
    outline:none;
}

body {
    background: radial-gradient(white, deepskyblue, black);
    font-size: 1em;
    margin: 0;
    padding: 0;
    border: none;
    color: #fff;
}

.container {
    display: grid;
    grid-template-rows: 30px 1fr 1fr 1fr 1fr 100px 30px;
    grid-template-columns: 1fr 50px;
    grid-template-areas: "header header" "mainImage sidePanel" "mainImage sidePanel" "mainImage sidePanel" "mainImage sidePanel" "controlPanel controlPanel" "footer footer";
    max-width: 600px;
    /*max-height: 768px;*/
    height: 100%;
    position: relative;
    padding: 0;
    margin: 0 auto;
    border-left: 5px solid #000;
    border-right: 5px solid #000;
    background-color: #222;
}

header {
    grid-area: header;
    border-top: 5px solid #000;
    border-bottom: 5px solid #000;
    background-color: deepskyblue;
}

h1 {
    font-size: 15px;
    font-weight: bold;
    padding: 10px 0 0 0;
    letter-spacing: 3px;
    word-spacing: 10px;
    line-height: 0;
    vertical-align: middle;
    text-align: center;
}

#mainImage {
    grid-area: mainImage;
    position: relative;
    /*width:300px;
    height:400px;*/
    box-sizing: border-box;
    background-color: #fff;
    /*box-shadow: 10px 10px 20px #fff,5px 5px 10px #fff;*/
}

#mainImage>img {
    /*width:300px;
    height:400px;*/
    display: block;
    box-sizing: border-box;
    object-fit: cover;
    cursor: crosshair;
}

#controller {
    width: 99%;
    height: 25px;
    position: absolute;
    bottom: 20px;
    /*left:3px;
    right:-3px;*/
    margin: 0 3px 0 3px;
    border: 3px solid #000;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0);
}

#controller #filterText {
    display: inline-block;
    position: absolute;
    top: -3px;
    left: -3px;
    height: 25px;
    width: 24%;
    font-size: 13px;
    padding: 4px 2px;
    text-align: center;
    color:#f5bc17;
    letter-spacing: 0;
    border-radius: 20px 0 0 20px;
    background-color: #000;
}

#controller #slider {
    -webkit-appearance: none;
    position: absolute;
    top: 5px;
    right: 0;
    background: #f57c17;
    display: inline-block;
    width: 76%;
    height: 10px;
    border: 3px solid #000;
    border-radius: 0 20px 20px 0;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 20px;
    border-radius: 50%;
    background: radial-gradient(#fff, #000);
    cursor: pointer;
}

#slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: radial-gradient(#fff, #000);
    cursor: pointer;
}

#sidePanel {
    grid-area: sidePanel;
    background-color: #071930;
    color: #f57c17;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.sidePanelButton {
    flex: 0 0 0;
    border: 3px solid #f57c17;
    margin: 3px 3px;
    padding: 2px 4px 0 4px;
    border-radius: 10px;
    font-size: 10px;
    align-self: center;
}

.sidePanelButton:hover {
    cursor: pointer;
    border-color: #ccc;
}

.sidePanelButton:nth-child(7) {
    margin-top: auto;
    margin-bottom: auto;
}

#controlPanel {
    grid-area: controlPanel;
    background-color: #2e112d;
    position: relative;
}

#filterStrip {
    height: 50px;
    overflow-x: hidden;
}

.controlPanelButton {
    display: inline-block;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: #42011c;
    width: 100px;
    margin: 5px 0 5px 5px;
    padding: 4px 5px;
    border: 5px solid #071930;
    border-radius: 20px;
    box-shadow: 0 5px 0 #555;
    background: #f06060;
    transition: transform 0.3s, box-shadow 0.3s;
}

.controlPanelButton:hover {
    cursor: pointer;
    border-color: hsl(240, 30%, 30%);
    transform: translateY(5px);
    box-shadow: 0 0 0 #555;
}

#filterStripShift {
    position: absolute;
    height: 50px;
    width: 20px;
    right: 0;
    top: 0;
    font-size: 30px;
    padding: 10px 0;
    color: #fff;
    background-color: #222a12;
}

#filterTypeText {
    height: 50px;
    background-color: yellow;
    color: #000;
    padding: 3px;
    overflow-x: scroll;
    font-size: 13px;
}

footer {
    grid-area: footer;
    margin: 0;
    padding: 0;
    border-top: 5px solid #000;
    border-bottom: 5px solid #000;
    text-align: center;
    background-color: pink;
}

footer h6 {
    font-size: 13px;
    font-weight: bold;
    padding: 10px 0 0 0;
    line-height: 0;
    vertical-align: middle;
    text-align: center;
    color: #3a5d1e;
}

#aboutPage {
    position: absolute;
    opacity: 0;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 70px 60px;
    background: radial-gradient( rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.8));
    /*background:radial-gradient(100% 100%, #fff, #000);*/
    overflow-x: scroll;
}

#aboutPage h3 {
    position: relative;
    background-color: #000;
    padding: 20px;
    /*box-shadow: -5px -5px 10px #aaa, -7px -7px 15px #aaa;*/
}

#aboutClose {
    position: fixed;
    top: 0;
    right: 0;
    font-size: 30px;
    color: #fff;
    cursor:pointer;
}

#aboutPage #aboutBody {
    padding: 0;
    font-size: 20px;
    background: rgba(0, 0, 0, 0);
    font-family: 'Courgette', cursive;
    font-size: 17px;
    color: #fff;
     text-shadow: -3px -3px brown;
    /*box-shadow: -5px -5px 10px #aaa, -7px -7px 15px #aaa;*/
}

#aboutBody div, #aboutBody ul {
    margin: 10px 0;
    padding: 15px 15px;
    list-style:square inside;
    background: radial-gradient(deepskyblue, black);
}


@media (max-width:450px) {
    .container {
        position: fixed;
    }
}
